html, body {
    height: 100%;
}

p, li {
    font-family: Helvetica, sans-serif;
}   

.columnname {
    width: 75px;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.columnname p {
    font-family: 'DM Sans';
    font-size: 12px;
    letter-spacing: 0.15em;

    margin: 0;
    transform: rotate(90deg);
    color: #FFFFFF;
    white-space: nowrap;
}

/* FOOTER */
footer {
    box-sizing: border-box;
    width: 100%;
    height: fit-content;
    
    display: flex;
    justify-content: space-between;

    padding: 32px 40px;
    background-color: #FFFFFF;

    border-top: #373737;
    border-style: solid;
    border-width: 0;
    border-top-width: 1px;

    z-index: 5;
}

footer p {
    font-family: 'DM Sans';
    font-size: 10px;
    letter-spacing: 0.05em;

    margin: 0;
    color: #a0a0a0;

    font-size: 14px;
}

/* FLEX IDLE STATE LAYOUT */
body {
    max-width: 1200px;
    min-width: 900px;
    margin: 0 auto;

    display: flex;
    flex-direction: column;

    box-sizing: border-box;
}

main {
    width: 100%;
    display: flex;
    flex-direction: column;
}

#home {
    background-color: #FFFFFF;
}

#sections {
    position: fixed;
    height: 100vh;
    right: 0;
    right: max(calc((100vw - 1200px) / 2 - 7px));
    top: 0;
    z-index: 3;

    display: flex;
}

/* HOME */
#home p {
    margin: 0;
}

#text {
    display: flex;
    flex-direction: column;
    gap: 32px;
    
}

#titleandtext {
    display: flex;
    flex-direction: column;
    gap: 8px;
}



/* PANELS */
#research {
    background-color: #FF6D6D;
}

#madlibs {
    background-color: #5EA763;
}

#everypicture {
    background-color: #f1b95f;
}

#gameon {
    background-color: #6D9BFF;
}

.columnname, .content {
    background-color: inherit;
}

.panel {
    display: flex;
}

.content ul {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 32px;

    padding-left: 24px;
    padding-right: 56px;

    margin: 0;
}

/* STYLING LINKS */
.content ul li {
    list-style: none;
}

.content ul li a {
    color: #FFFFFF;
}

.content {
    width: 0;
    overflow: hidden;
    transition: width 0.5s ease;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: 0.35s ease-out;
}

.columnname:hover + .content, .content:hover {
    width: 300px;
}

/* BLUR WHEN NOT SELECTED */
main:has(.panel:hover) #home {
    opacity: 0.3;
    filter: blur(.25px);
}

main:has(.panel:hover) .post {
    opacity: 0.3;
    filter: blur(.25px);
}



#home, .post {
    transition: 0.25s ease-out;
}


/* TEXT STYLING */
.content ul li a {
    display: block;
    width: 100%;
    border-bottom: 1px solid #ffffff7d;

    text-decoration: none;
    font-family: 'DM Serif Display';
    font-size: 18px;

    transition: 0.35s ease-in-out;
}

.content ul li a:hover {
    border-bottom: 1px solid #FFFFFF;
}

#tag1 {
    font-family: 'DM Serif Display';
    font-size: 56px;
    font-weight: 500;
}


#tag1 i {
    color: #FF6D6D;
}

/* OVER TIME CYCLE */
#tag1 i {
    animation: colorcycle 12s infinite ;
}

@keyframes colorcycle {
    0% {color: #FF6D6D;}
    25% {color: #f1b95f;}
    50% {color: #5EA763;}
    75% {color: #6D9BFF;}
    100% {color: #FF6D6D;}
}

#tag2 {
    font-family: 'DM Sans';
    color: #757575;
    letter-spacing: 0.05em;
    line-height: 1.75em;
    font-size: 18px
}

#tag2 u {
    color: #6D9BFF;
    text-underline-offset: 0.25em;
}

#tag2 i {
    color: #5EA763;
}

#tag3 {
    font-family: 'DM Sans';
    letter-spacing: 0.05em;
    font-size: 14px;
    color: #a5a5a5;
}




#tag0 {
    position: fixed;
    top: 40px;
    left: 40px;
    left: max(40px, calc((100vw - 1200px) / 2 + 40px));
    z-index: 5;


    font-family: 'DM Sans';
    letter-spacing: 0.05em;
    font-size: 14px;
}

#home {
    height: 100vh;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 40px;
}

/* POSTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTT */


.post .title p {
    font-family: 'DM Serif Display';
    font-size: 32px;
    color: #373737;

    margin: 0;
}

.post .title .articlecaption {
    font-family: 'DM Sans';
    font-size: 14px;

    margin: 0;
}

.post .title .articlecaption a {
    text-decoration: none;
    color: #a5a5a5;
    transition: 0.25s ease-in-out;

    margin: 0;
}

.post .title .articlecaption a:hover {
    color: #373737
}

.post .postcontent p {
    font-family: 'DM Sans';
    font-size: 16px;
    max-width: 48ch;
    line-height: 1.35em;

    hyphens: none;

    color: #373737;

    margin: 0;
}

/* LAYOUT */
.post .postcontent {
    display: flex;
    flex-direction: column;

    width: fit-content;

    gap: 24px;
}

.post .title {
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;

    gap: 12px;
}

.post {
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;

    gap: 32px;

    padding: 48px;

    padding-top: 18px;
}

.post .postcontent a {
    color: #6D9BFF;
}

hr {
    background-color: #a5a5a5;
    border: none;
    width: 100%;
    height: 0.5px;

    margin: 0;
    margin-top: 12px;
}
